@model Sneker.Models.Cart
@{
    ViewBag.Title = "CheckOut";
}
<link rel="stylesheet" href="@Url.Content("~/Content/Css/Style.css")" type="text/css" />
<link rel="icon" type="image/x-icon" href="~/Content/Image/Home/logo-brand.png">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>@ViewBag.Title</title>

@if(Model != null) 
{
    <form action="/Product/CheckOut" method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class="img--checkout" src="~/Content/Image/Home/logo-brand.png" />
                    <div class="box--checkout">
                        <p class="infor--checkout">Delivery information</p>
                        <p class="login--checkout"><i class="fas fa-user-circle"></i><a href="@Url.Action("Users","Account")">Login</a></p>
                        <input type="text" class="form-control mt-3" placeholder="Email" name="email" />
                        <input type="text" class="form-control mt-3" placeholder="Name" name="name" />
                        <input type="text" class="form-control mt-3" placeholder="Phone" name="phone" />
                        <input type="text" class="form-control mt-3" placeholder="Address" name="address" />
                        <input type="text" class="form-control mt-3" placeholder="City" name="city" />
                        <input type="text" class="form-control mt-3" placeholder="Country" name="country" />
                        <textarea class="form-control mt-3" placeholder="Note (option)" name="note"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box--checkout">
                        <img class="img--checkout hidden" src="~/Content/Image/Home/logo-brand.png" />
                        <p class="infor--checkout">Delivery</p>
                        <div class="alert alert-primary">
                            Please enter delivery information
                        </div>
                    </div>
                </div>
                <div class="col-md-4 border--l">
                    <p class="total--checkout mt-2">Order (@Html.Action("BagCartTotal", "Product") product)</p>
                    <hr />
                    @foreach (var item in Model.Items)
                    {
                        <div class="row mt-4 mb-4">
                            @{
                                string imgURL = item.product.PicturePath + item.product.Picture;
                            }
                            <span class="posision">
                                <img class="img--rw" src="@Url.Content(imgURL)" />
                                <span class="badge badge--checkout">@item.quantity</span>
                            </span>
                            <p class="name--checkout">@item.product.Productname - @item.product.Size</p>
                            <p class="code--checkout">@item.product.Productcode</p>
                            <p class="discount--checkout">Discount: @item.product.Discount%</p>
                            <p class="price--checkout">@item.product.Unitprice$</p>
                        </div>
                        <hr />
                    }
                    <p class="provisional--checkout">Provisional:</p>
                    <p class="provisional--checkout float--right">@Model.Total_money()$</p>
                    <p>Transport fee:<span class="float--right">-</span></p>
                    <hr />
                    <p class="total--bill">Total<span class="float--right">@Model.Total_money()$</span></p>
                    <a href="@Url.Action("Shoes", "Product")" class="backto--checkout"><i class="fas fa-angle-left icon--checkout"></i> Back to Shopping</a>
                    <button type="submit" class="btn--checkout">Check Out</button>
                </div>
            </div>
        </div>
    </form>
}

<script>
    function defaultDate() {
        var date = new Date();
    }
</script>

